<div class="mainBody">
  <mat-card>
    <mat-card-header>
      Popular on LetsConnect
    </mat-card-header>
    <mat-card-content>
      <div class="listOfPeople">
        <div class="singlePerson">
          <div class="namePic">
            <div class="displayPicture">
              <img src={{userDetails.photoUrl}} alt="">
            </div>
            <div class="name">
              Hemant Upadhyay
            </div>
          </div>
          <div class="followOption">
            <mat-icon>
              add
            </mat-icon>
          </div>
        </div>
        <div class="singlePerson">
          <div class="namePic">
            <div class="displayPicture">
              <img src={{userDetails.photoUrl}} alt="">
            </div>
            <div class="name">
              Hemant Upadhyay
            </div>
          </div>
          <div class="followOption">
            <mat-icon>
              add
            </mat-icon>
          </div>
        </div>
        <div class="singlePerson">
          <div class="namePic">
            <div class="displayPicture">
              <img src={{userDetails.photoUrl}} alt="">
            </div>
            <div class="name">
              Hemant Upadhyay
            </div>
          </div>
          <div class="followOption">
            <mat-icon>
              add
            </mat-icon>
          </div>
        </div>
        <div class="singlePerson">
          <div class="namePic">
            <div class="displayPicture">
              <img src={{userDetails.photoUrl}} alt="">
            </div>
            <div class="name">
              Hemant Upadhyay
            </div>
          </div>
          <div class="followOption">
            <mat-icon>
              add
            </mat-icon>
          </div>
        </div>
        <div class="singlePerson">
          <div class="namePic">
            <div class="displayPicture">
              <img src={{userDetails.photoUrl}} alt="">
            </div>
            <div class="name">
              Hemant Upadhyay
            </div>
          </div>
          <div class="followOption">
            <mat-icon>
              add
            </mat-icon>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
