<mat-card class="profilecard">
  <div class="profilePicNameIntro">
    <div class="profilePic">
      <img src={{userInfo.photoUrl}} alt="">
    </div>
    <h3 class="name">
      {{userInfo.name}}
    </h3>
    <div class="followersCount">
      <div class="title">
        Followers
      </div>
      <div class="count">
        {{userProfileInfo.followersCount}}
      </div>
    </div>
    <div class="followingsCount">
      <div class="title">
        Following
      </div>
      <div class="count">
        {{userProfileInfo.followingCount}}
      </div>
    </div>
    <div (click)="viewSelfProfileDetails()" class="viewProfile">
      <span>View Profile</span>
    </div>
  </div>
</mat-card>
