<div class="centrePartBody">
  <mat-card class="postForm">
    <div class="postCardParentDiv">
      <div class="postHeader">
        <div class="profilePic">
          <img src={{userDetails.photoUrl}} alt="">
        </div>

      </div>
      <div class="inputArea">
        <div class="inputBox">
          <mat-form-field class="example-full-width">
            <mat-label>Enter your post</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="postContent"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="attachmentPart">
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
        <div class="file-upload">

          {{fileName || "No file uploaded yet."}}

          <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>
        <div class="buttons">
          <button (click)="PostContent()" mat-button color="primary">Post</button>
          <button mat-button color="warn">Cancel</button>
        </div>
      </div>
    </div>
  </mat-card>

  <div *ngFor="let post of this.feedList" class="feedlist">
    <mat-card class="feedCards">
      <div class="postBody">
        <div class="postHeader">
          <div class="displayPicture">
            <img *ngIf="this.selfMode" src={{userDetails.photoUrl}} alt="">
            <img *ngIf="this.selfMode==false" src={{post.photoUrl}} alt="">
          </div>
          <div *ngIf="this.selfMode" class="username">
            {{userDetails.name}}
          </div>
          <div *ngIf="this.selfMode==false" class="username">
            {{post.name}}
          </div>

        </div>
        <div class="postContent">
          <div class="attachedPicture">
            <img src={{post.photoUrl}} alt="">
          </div>
          <div class="textContent">
            {{post.content}}
          </div>
        </div>
      </div>
    </mat-card>

  </div>
</div>
